.dark {
  opacity: 60%;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#000000;
}

.centered {
  background: #1C1C21;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  height: auto;
  border-radius: 40px;
  z-index: 2;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header_container_close {
  position: fixed;
  right: 40px;
  top: 52px;
  cursor: pointer;
}
