.header {
    margin-left: 8%;
}

.main_container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.main_container a {
    color: white;
    text-decoration: none;
}

.right_container {
    display: flex;
    flex-direction: column;
    width: 31%;
}

.right_first_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right_first_container_details {
    display: flex;
    flex-direction: column;
}