.max-height {
    max-height: 630px;
    overflow-y: auto;
}
.container {
    display: flex;
    text-align: center;
    align-items: center;
    float: right;
}
.size-icon {
    width: 33px !important;
    height: 33px !important;
}
